* {
    box-sizing: border-box;
    overflow: auto;
    padding: 1px;
}

input {
    width: 250px;
    line-height: 20px;
}

b {
    background-color: #0acc3e;
}

.disabled-input {
    border-color: white;
}

.deck-name {
    background-color: #0acc3e;
}

.deck {
    border: 1px solid green;
}

.ship {
    float: left;
    border: 1px solid green;
    max-width: 50%;
}

#message-field {
    max-width: 250px;
    float: right;
    border: 1px solid green;
}

.col-1 {width: 5%;}
.col-2 {width: 15%;}
.col-3 {width: 20%;}
.col-4 {width: 30%;}
.col-5 {width: 35%;}
.col-6 {width: 40%;}
.col-7 {width: 50%;}
.col-8 {width: 56%;}
.col-9 {width: 60%;}
.col-10 {}
.col-11 {}
.col-12 {width: 100%;}